/* Marquee */
.Marquee-Container {
  width: 100vw;
  left: -5vw;
  overflow: hidden !important;
  font-family: var(--font-primary);
  line-height: 2;
  background-color: var(--primary);
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
}
.Marquee--Container:hover {
  background-color: var(--secondary);
}
.bg-stripes {
  background: repeating-linear-gradient(
    -70deg,
    rgba(242, 180, 63, 1),
    rgba(242, 180, 63, 1) 70px,
    rgba(0, 0, 0, 0) 70px,
    rgba(0, 0, 0, 0) 140px
  );
  background-color: #000;
  transform: rotate(-3deg);
  height: 200px;
  position: relative;
  overflow: hidden !important;
  border: none;
}
