.FeatureArray {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
.FeatureArray figcaption {
  font-family: var(--font-primary);
  font-size: 2rem;
  line-height: 2.5rem;
  max-width: 300px;
}
.FeatureArray p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  color: #cacaca !important;
  padding: 1rem 0.3rem;
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .FeatureArray {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.FeatureArray--Item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}
.FeatureArray--Petri {
  height: 386px;
  width: auto;
}
@media screen and (max-width: 750px) {
  .FeatureArray--Item {
    width: 100%;
  }
}

.FeatureArray--Item > div {
  position: relative;
  width: 100%;
}

.FeatureArray--Item figcaption {
  text-align: center;
  font-family: var(--font-secondary);
  padding: 2rem 0;
  text-transform: uppercase;
  width: 50%;
}
.FeatureArray--Sticker {
  height: 72px;
  width: auto;
}

@supports (object-fit: contain) {
  .FeatureArray--Item img {
    object-fit: contain;
    object-position: center;
    width: 386px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
  }
}
